/* -- Universal Styles -- */

body {
  background: #000000;
  margin: 0;
}

p {
  color: #ffffff;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

a {
  color: #ffffff;
  text-decoration: none;
}

h1 {
  color: #ffffff;
  display: inline;
  font-family: "IBM Plex Sans", "Helvetica", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 100px;
}

img {
  max-width:100%;
  max-height:100%;
}

.bg-transition {
  transition: background 2s;
}

.bg-highlight {
  background-color: #e0c285; 
}

#header {
  margin-top: 0;
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
  position: fixed;
  overflow:scroll;
  z-index: 1;
  line-height: 32px;
}

#header a:hover {
  border-bottom: 2px solid;
}

#talk a:hover {
  border-bottom: 2px solid;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

/* -- Page Specific Styles -- */

#work-div {
  overflow: auto;
}

.work-block {
  margin-top: 33vh;
}

.work-text-div {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  position: absolute;
}

.work-text-div p {
  display: inline-block;
  margin: 0;
}

.work-title {
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
}

.work-title-black {
  color: #000000;
}

.work-date {
  font-weight: 100;
  color: #ffffff;
  float: right;
  mix-blend-mode: difference;
}

#talk {
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  position: relative;
}

#about-div {
  position: fixed;
  margin-top: 33.33vh;
  z-index: -1;
}

#work-link {
  border-bottom: 2px solid;
}

#about-text-constrainer {
  margin-left: 150px;
  margin-right: 400px;
}


/* -- Individual Entry Styles -- */
#work-0 {
  margin-top: 0px;
}
#work-title-0 {

}
#work-1 {
  float: right;
}
#work-2 {
  /* This does not properly align for some reason. Note that work-0 and work-2
  are different distances from the left. One point to note, this div was
  originally placed in a float right position. If displayed as block, the text
  is positioned above work-1. */

  display: inline-block;
}
#work-date-2 {
  color: #ffffff;
}
#work-3 {
  margin-bottom: 16.665vh;
  float: right;
}

/* -- Breakpoint Specific Styles -- */

/* Tiny Mobile */

@media screen and (max-width: 350px) {
  h1 {
    font-size: 36px;
  }
  .work-block {
    margin-top: 1vh;
  }
  #about-text-constrainer {
    margin-left: 20px;
    margin-right: 20px;
  }
  #work-div {
    margin-left: 3%;
    margin-right: 3%;
  }
  #talk-email {
    float: right;
  }
  .small-nav-left p {
    margin: 0;
  }
}

/* Mobile (iPhone optimized) */

@media screen and (min-width: 374px) and (max-width: 412px) {
  h1 {
    font-size: 43px;
  }
  .work-block {
    margin-top: 1vh;
  }
  #about-text-constrainer {
    margin-left: 20px;
    margin-right: 20px;
  }
  #work-div {
    margin-left: 3%;
    margin-right: 3%;
  }
}

/* Mobile (iPhone Plus optimized) */

@media screen and (min-width: 413px) and (max-width: 766px) {
  h1 {
    font-size: 48px;
  }
  .work-block {
    margin-top: 1vh;
  }
  #about-text-constrainer {
    margin-left: 20px;
    margin-right: 20px;
  }
  #work-div {
    margin-left: 3%;
    margin-right: 3%;
  }
}

/* Tablet Portrait */

@media screen and (min-width: 767px) and (max-width: 768px){
  h1 {
    font-size: 68px;
  }
  #about-text-constrainer {
    margin-left: 50px;
    margin-right: 50px;
  }
  #work-div {
    margin-left: 5%;
    margin-right: 5%;
  }
  .work-title {
    font-size: 34px;
  }
  .work-date {
    font-size: 28px;
  }
}

/* Tablet Landscape */

@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 63px;
  }
  #about-text-constrainer {
    margin-left: 75px;
    margin-right: 200px;
  }
  #work-div {
    margin-left: 7%;
    margin-right: 7%;
  }
  #work-0 {
    width: 60%;
    margin-left: 7%;
  }
  #work-1 {
    width: 60%;
    margin-right: 7%;
  }
  #work-2 {
    width: 60%;
    margin-left: 7%;
  }
  #work-3 {
    width: 60%;
    margin-right: 7%;
  }
}

/* Large Tablet / Small Laptop */

@media screen and (min-width: 1025px){
  h1 {
    font-size: 78px;
  }
  #about-text-constrainer {
    margin-left: 150px;
    margin-right: 300px;
  }
  #work-div {
    margin-left: 7%;
    margin-right: 7%;
  }
  .work-text-div {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20px;
  }
  .work-title {
    font-size: 28px;
  }
  .work-date {
    font-size: 24px;
  }
  #work-0 {
    width: 60%;
    margin-left: 11%;
  }
  #work-1 {
    width: 60%;
    margin-right: 7%;
  }
  #work-2 {
    width: 60%;
    margin-left: 7%;
  }
  #work-3 {
    width: 60%;
    margin-right: 7%;
  }
}

/* Wide */

@media screen and (min-width: 1439px){
  h1 {
    font-size: 78px;
  }
  #work-div {
    margin-left: 7%;
    margin-right: 7%;
  }
  #about-text-constrainer {
    margin-left: 200px;
    margin-right: 415px;
  }
  .work-title {
    font-size: 38px;
  }
  .work-date {
    font-size: 32px;
  }
}

/* Very Wide */

@media screen and (min-width: 1599px){
  h1 {
    font-size: 88px;
  }
  #work-div {
    margin-left: 7%;
    margin-right: 7%;
  }
  #about-text-constrainer {
    margin-left: 200px;
    margin-right: 500px;
  }
  .work-title {
    font-size: 42px;
  }
  .work-date {
    font-size: 36px;
  }
}
